BOT_TOKEN=
DATABASE_URL=postgresql://username:password@localhost:5432/anonim_bot

# Set to 1 only if you want to import local legacy JSON data on first run.
MIGRATE_JSON_ON_START=0
ENABLE_REACTION_UPDATES=1
ENABLE_DAILY_QUESTION=1

TELEGRAM_BASE_URL=
TELEGRAM_BASE_FILE_URL=
TELEGRAM_LOCAL_MODE=0
TELEGRAM_HEALTHCHECK_URL=
CHECK_URL=
